/* In your App.css file */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* In your App.css or TabsComponent.css */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';


body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Other global styles can be added here */



/* In your CSS file (e.g., styles.css) */
.btn {
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  transition: background-color 0.3s, border 0.3s;
}

.btn:hover {
  background-color: #EEEEEE;
  color: black;
}

.blurred-image {
  height: 300px; /* Adjust height as needed */
  width: 100%; /* Make sure the image fits the container */
  object-fit: cover; /* Ensure the image covers the container */
  filter: blur(3px); /* Adjust blur intensity as needed */
  border-width: 2px solid #EEEEEE;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  color: #EEEEEE !important;
}

.tabs-container {
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.tab-button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: none;
  color: #6E6E6E;
  font-weight: bold;
  transition: color 0.3s;
}

.tab-button.active {
  color: green; /* Active tab color */
}

.tab-content {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 100px; /* Minimum height for content area */
}

