@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.testimonial-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Half-Circle Container */
.half-circle {
    width: 300px;
    height: 150px;
    background: linear-gradient(#B2DFDB, white);
    border-radius: 150px 150px 0 0;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Avatar Style */
.half-circle .MuiAvatar-root {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 60px;
    object-fit: cover;
    transition: transform 1s;
}

/* Rotate animation */
.half-circle .rotate {
    animation: rotate 1s forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) translateX(0);
    }
    to {
        transform: rotate(360deg) translateX(0);
    }
}

/* Testimonial Text Content */
.text-content {
    margin: 5px;
    font-size: 13px;
    width: 700px;
    font-weight: 450;
}

/* Hide non-active testimonials */
.testimonial {
    display: none;
}

/* Show the active testimonial */
.testimonial.active {
    display: block;
}

/* Button Container Style */
.button-container {
    margin-top: 5px;
}

.outlined-button {
    padding: 10px 20px;
    border: 2px solid #B2DFDB;
    background-color: white;
    color: #00796B;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px 10px;
}

.outlined-button.active {
    background-color: #B2DFDB;
    color: #00796B;
}

.outlined-button:hover:not(.active) {
    background-color: #B2DFDB;
    color: white;
}


